@import "tailwindcss";

/* globals.css */

/* Definición de las variables para colores */
:root {
  /* Colores para modo oscuro */
  --background-dark: #171717;
  --foreground-dark: #ededed;
  --accent-dark: #ff004d;
  --button-dark: #ff004d;

  /* Colores para modo claro */
  --background-light: #f4f4f4;
  --foreground-light: #111111;
  --accent-light: #d10040;
  --button-light: #d10040;

  /* Colores de texto en ambos modos */
  --text-dark: #ededed;
  --text-light: #111111;
  --text-link-dark: #ff004d;
  --text-link-light: #d10040;
}

/* Estilos generales del body */
body {
  background-color: var(--background-dark);
  color: var(--foreground-dark);
  --text-color: var(--text-dark);
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.light {
  background-color: var(--background-light);
  color: var(--foreground-light);
  --text-color: var(--text-light);
}

/* Header */
header {
  background-color: var(--background-dark);
  border-bottom: 2px solid var(--accent-dark);
}

body.light header {
  background-color: var(--background-light);
  border-bottom: 2px solid var(--accent-light);
}

/* Enlaces */
a {
  color: var(--text-link-dark);
  transition: color 0.3s ease;
}

body.light a {
  color: var(--text-link-light);
}

a:hover {
  color: var(--accent-dark);
}

body.light a:hover {
  color: var(--accent-light);
}

/* Títulos y textos */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--text-color);
  transition: color 0.3s ease;
}

/* Botones en modo claro */
body.light button:hover {
  background-color: var(--button-light);
}

/* Botones en modo oscuro */
button:hover {
  background-color: var(--button-dark);
}
